* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#f7f7f7;
    color: #222;
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
}

header {
    background-color: #2c0f5e
    padding: 40px 40px;
     display: flex;
    align-items: center;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

nav a:hover {
    color: #cccccc;
}

.hero {
    padding: 80px 40px;
    background-color: #eaeaea;
}

.services {
    padding: 60px 40px;
}

footer {
    padding: 20px 40px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}
a {
    transition: color 0.2s ease;
}

button {
    transition: background-color 0.2s ease, transform 0.2s ease;
}







