* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#f7f7f7;
    color: #222;
    
}

header {
    background-color: #2c0f58;
    position: relative;
    padding: 40px;
}

nav {
    display: flex;
    align-items: center;
    z-index: 2;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

nav a:hover {
    color: #cccccc;
}

.header-video {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translatex(-50%);
    width: 90px;
    height: 90px;
    object-fit: contain;
    z-index: 1;
}

.hero {
width: 100%;
background-color: #9f3b9d;
position: relative;
overflow: hidden;
}
.hero-bg {
max-width: 1510px;
width: 100%;
height: auto;
display: block;
margin: 0 auto;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 300px;
    object-fit: contain;
}

.intro {
    width: 100%;
    background-color: #5c1d5b;
    padding: 20px 20px;
    text-align: center;
    }

.intro p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    margin: 0;
}

.split-section {
    display: flex;
    width: 100%;
    min-height: 600px;
}

.split-left {
    flex: 1;
    background-color: white;
}

.split-right {
    flex:1;
    padding: 40px;
    display: flex;
    align-items: center;
}

.split-title {
    font-family: 'Newsreader', serif;
    font-size: 50px;
    line-height: 1.1;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 70px;
    margin: 0;
}


.services {
    padding: 60px 40px;
}

footer {
    padding: 20px 40px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}
a {
    transition: color 0.2s ease;
}

button {
    transition: background-color 0.2s ease, transform 0.2s ease;
}




























































