* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#f7f7f7;
    color: #222;
}

header {
    background-color: #ffffff
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #222;
    font-weight: 600;
}

nav a:hover {
    color: #555;
}

.hero {
    padding: 80px 40px;
    background-color: #eaeaea;
}

.services {
    padding: 60px 40px;
}

footer {
    padding: 20px 40px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}


